<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Biblioteca</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <aside class="sidebar">
      <div class="logo">
        <img class="logo" src="../public/logo cun.png" alt="cun" />
      </div>
      <nav class="menu">
        <% if (user && user.role === 'usuario') { %>
            
            <button onclick="mostrarSeccion('recursos')">Recursos</button>
            <button onclick="mostrarSeccion('reportes')">Reportes</button>
        <% } else { %>
            <p>No tienes permiso para acceder a este menú.</p>
        <% } %>
      </nav>
    </aside>

  
  

    <section id="recursos" class="main-content">
      <% if (user && user.role === 'usuario') { %>
        <div class="resources-container">
          <h2>Recursos Disponibles</h2>
          <table>
            <thead>
              <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>ISBN</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% recursosDisponibles.forEach((recurso) => { %>
                <tr>
                  <td><%= recurso.title %></td>
                  <td><%= recurso.author %></td>
                  <td><%= recurso.isbn %></td>
                  <td><%= recurso.status === 'disponible' ? 'Disponible' : 'Reservado' %></td>
                  <td>
                    <% if (recurso.status === 'disponible') { %>
                      <form action="/reservar-recurso/<%= recurso.id %>" method="POST">
                        <button type="submit">Reservar Recurso</button>
                      </form>
                    <% } else { %>
                      <span>Reservado</span>
                    <% } %>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      <% } else if (bibliotecario) { %>
        <p>Acceso denegado a la sección de Recursos.</p>
      <% } %>
    </section>
    
    </div>

    <script>
      function mostrarSeccion(seccion) {
        const secciones = document.querySelectorAll('.main-content');
        secciones.forEach((s) => {
          s.style.display = 'none';
        });
        document.getElementById(seccion).style.display = 'block';
      }
    </script>
</body>
</html>
